@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 320px;
    max-width: 1350px;
}

header {
    background-color: rgba(128, 128, 128, 0.562);
    padding: 20px;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 115px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 25px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight:bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: yellow;
}

.produtos {
    margin: 0 auto;
    padding: 10px 30px;
}


.produtos article {
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

.produtos article:hover {
    border-color: yellow;
}

.produtos article:active {
    border-color: green;
}

.produtos article:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
}

.produto-descriçao {
    font-size: 19px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-image: url("bg.jpg");
    padding: 20px 0px;
}

.copyrigth {
    color: white;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, p {
    display: block;
    margin: 10px 0;
    font-size: 22px;

}

.inputsdoform{
    display: block;
    margin: 12px 0;
    padding: 6px;
    width: 40%;
}
 
.checkbox {
    margin: 20px 0;
}

.margin {
    margin: 5 5;
}