@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(128, 128, 128, 0.562);
    padding: 20px;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 115px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 25px;

}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight:bold;
    font-size: 1.5em;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
}


.produtos article {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 10px;
}

.produtos h2 {
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
}

.produto-descriçao {
    font-size: 19px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
}